/* App.css */

/* Set background color */
body {
  background-color: #383c3c;
}

/* Set all text to white */
body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

#myDiv {
  background-color: #38444c;
  color: white;
  padding: 10px;
}

.Collapse {
  transition: height 0.3s ease;
}