/* App.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Dark theme styles */
.dark-theme {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
}

.dark-theme a {
  color: #fff; /* Set link color to white */
}

/* Light theme styles */
.light-theme {
  background-color: #fff; /* Light background color */
  color: #333; /* Dark text color */
}

.light-theme a {
  color: #333; /* Set link color to dark */
}

/* Navbar styles */
nav {
  padding: 10px 0; /* Add padding to navbar */
}

nav ul {
  list-style-type: none; /* Remove bullet points from list */
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px; /* Add margin between navbar items */
}
